h3{
    font-family: 'Neucha', cursive;
    color: rgb(138, 87, 54);
}

h4{
    font-family: 'Neucha', cursive;
    color: rgb(138, 87, 54);
}

h5{
    font-family: 'Neucha', cursive;
    color: rgb(138, 87, 54);
}

li a{
    font-size: 25px;
    font-family: 'Neucha', cursive;
}

p{
    font-family: 'Delius', cursive;
    
}

a{
    font-family: 'Delius', cursive;
    
}

label{
    font-family: 'Delius', cursive;
    font-weight: bold;
}

button{
    font-family: 'Delius', cursive;
    color: rgb(138, 87, 54);
}

.fondo{
    background-image: url(https://github.com/machucagelvez/imagenesLaMachuca/blob/main/cerveza.jpg?raw=true);
    background-attachment: fixed;
}

address{
    font-size: 0.875em;
}

.fondoCard{
    background-color: rgb(229, 234, 243);
}


